.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  > button {
      padding: 15px;
      margin: 5px;

      font-size: 1.6rem;

      border-radius: 15px;

      color: #ffffff;
      background-color: #3b74f2;
  }
}

@media screen and (max-width: 360px) {
  .buttons {
      > button {
          font-size: 1.3rem;
      }
  }
}
